* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #262622;
}

.container-all {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  gap: 20px;

  background-color: #97c2a3;
  transition: height 1s ease;
  max-height: 1500px;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #d1cea9;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 200px;
  transition: opacity 0.5s ease-in-out;
}

#quote {
  font-style: italic;
  font-size: 20px;
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px;
  background-color: #e0dfc8;
}

table {
  border: 1px solid;
  padding: 5px;
  transition: opacity 0.5s ease-in-out;
}

th,
td {
  text-align: center;
  padding: 5px;
  background-color: #d1cea9;
  font-size: 20px;
}

.container-hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;

  background-color: #ebe5d8;
}

.hobbies-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: opacity 0.5s ease-in-out;
}

#hobbies-header {
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  transition: opacity 0.5s ease-in-out;
}

#hobbies-ul {
  font-size: 20px;
  margin-bottom: 30px;
  transition: opacity 0.5s ease-in-out;
}

#hobbies-ul > li {
  margin: 10px 0;
}

#sublist {
  margin-left: 10px;
}

.container-contribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: beige;
}

#contribution-text {
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.container-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #ded581;
}

#story {
  color: #4d4a32;
  text-align: center;
  margin-bottom: 20px;
  transition: opacity 0.5s ease-in-out;
}

#story-explanation {
  transition: opacity 0.5s ease-in-out;
}

.container-links {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  background-color: #262622;
  gap: 100px;
}

.container-links > a {
  position: relative;
  color: aliceblue;
  text-decoration: none;
}

.container-links > a::after {
  content: "";
  position: absolute;
  background-color: #ded581;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.container-links > a:hover {
  color: #ded581;
}

.container-links > a:hover:after {
  width: 100%;
}

.hidden {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container {
  max-height: 100px;
}

.container:hover {
  max-height: 1500px;
  transition: max-height 1s ease-out;
}

.container-links h1 {
  color: aliceblue;
  position: absolute;
}
